<div class="footer-grid">
  <div id="footerFirst">
    <p class="footertitle">About</p>
    <hr>
    <p>@2020 General Assemb.ly<br>
    Keng Lee</p>
    <p> xxxxx SEIR Moss Ave<br>
      San Diego, CA xxxxx
    <p><a id="infolink" href="#">info@gnrlassembly.com</a></p>
  </div>
  <div id="footerSecond">
    <p class="footertitle">Social Media</p>
    <hr>
    <span><img src="https://img.icons8.com/material-rounded/35/000000/instagram-new.png" id="instagram"/></span>
    <span><img src="https://img.icons8.com/android/30/000000/facebook-new.png"id="facebook"/></span>
    <span><img src="https://img.icons8.com/android/30/000000/twitter.png" id="twitter"/></span>
    <div id="phone"><img src="https://img.icons8.com/fluent-systems-filled/24/000000/phone-not-being-used.png" />1-xxx-xxxx
    </div>
  </div>
  <div id=footerThird">
    <p class="footertitle">Subscribe</p>
    <hr>
    <form>
  <div class="form-row align-items-center">
    <div class="col-md-6">
      <label class="sr-only" for="inlineFormInputName">Name</label>
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="email@example.com">
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-danger">Submit</button>
    </div>
  </div>
</form>
  </div>
</div>
