<div class="footer-grid">
  <div id="footerFirst">
    <p class="footertitle">About</p>
    <hr>
    <p>@2020 General Assemb.ly<br>
    Keng Lee</p>
    <p> xxxxx SEIR Moss Ave<br>
      San Diego, CA xxxxx
    <p><a id="infolink" href="#">info@gnrlassembly.com</a></p>
  </div>
  <div id="footerSecond">
    <p class="footertitle">Social Media</p>
    <hr>
    <span><ion-icon id="instagram" name="logo-instagram"></ion-icon></span>
    <span><ion-icon id="facebook" name="logo-facebook"></ion-icon></span>
    <span><ion-icon id="twitter" name="logo-twitter"></ion-icon></span>
    <div id="phone"><ion-icon name="call-outline"></ion-icon>1-xxx-xxxx
    </div>
  </div>
  <div id=footerThird">
    <p class="footertitle">Subscribe</p>
    <hr>
    <p>Stay up to date with news and events</p>
    <form>
  <div class="form-row align-items-center">
    <div class="col-md-6">
      <label class="sr-only" for="inlineFormInputName">Name</label>
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="email@example.com">
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-danger">Submit</button>
    </div>
  </div>
</form>
  </div>
</div>
