<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <h1>Sell Items</h1>
    <form action="/products" method="POST">
      Brand: <input type="text" name="brand" /><br/>
      Image: <input type="text" name="img" placeholder="image" /><br/>
      Product: <input type="text" name="name" /><br/>
      Price: <input type="number" name="price" /><br/>
      <input type="submit" value="Create New Item" />
  </body>
</html>
