* {
  /* border: gold 1px solid; */
  margin: 0;
  padding: 0;
  list-style: none;

}


/* SHOW ROUTE */

#descriptionShow {
  margin-top: 1em;
}

#showImg {
  float: left;
  width: 50%;
  padding-right: 2em;
  padding-bottom: 10em;
}

.showContainer {
  margin-top: 3em;
  text-align: center;
}
/* INDEX ROUTE */
#brandIndex, #nameIndex, #linkIndex {
  text-decoration: none;
  color: black;
}

#featureIndex {
  margin-top: 1em;
  text-align: center;
}

.nav-item{
  margin: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100px;
  text-align: center;
  padding: 2em 2em;
}

#headerFirst {
  background: #878F7C;
  padding: .02px;
}

#headerTitle {
  padding: 12px;
}

#shipping {
  color: white;
  text-align: center;
  margin-top: 8px
}

#facebook {
  margin: 0px 4px;
}

#phone {
  margin-top: 5px;
}

/* FOOTER */
.footer-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #747B6B;
  padding: 2.5em;
}

#infolink {
  color: black;
}
