<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
  <header>
    <div id="headerFirst"><p id="shipping">free shipping on all domestic orders over $100</p></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/products">General Assemb.ly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/products">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/shirting">Tops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/bottoms">Bottoms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/bags">Bags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/footwear">Footwear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/sell"></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><ion-icon name="search-outline"></ion-icon></button>
      </form>
    </div>
  </header>
  <div class="container">
    <div class="jumbotron">
      <h1>New User</h1>
      <form action="/users" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br>
        <input class="btn btn-danger" type="submit" value="Submit">
      <form>
    </div>
  </div>
    <%- include('../partials/script.ejs') %>
  </body>
</html>
